<h3 class="headline"> Employees List </h3>

<table class="table table-hover  table-dark">
  <thead>
    <th> Name </th>
    <th> Position </th>
    <th> Mobile </th>
    <th> Action </th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of list">
      <td (click)="onEdit(emp)"> {{emp.fullName}} </td>
      <td (click)="onEdit(emp)"> {{emp.empCode}} </td>
      <td (click)="onEdit(emp)"> {{emp.mobile}} </td>
      <td (click)="onEdit(emp)">
        <a class="btn text-danger" (click)="onDelete(emp.id)" >  <img (click)="removeThisItem(list.Id)" style=" cursor: pointer; width: 25px; padding: 5px; background: #fff; border-radius: 3px;" src="../../../assets/delete.svg" />  </a>
      </td>
    </tr>    
  </tbody>
</table>